*{
    margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Playfair Display', serif;

}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: url(./img/hospital.jpg)no-repeat;
    background-size: cover;
    background-position: center;  
    flex-direction: column;  
    display: flex;
}

section:before{
    content: "";
    width: 100%;
    height: 100vh;
    background-color: #90AACB;
    position: absolute;
    opacity: 0.4;
}
h1{
    
    margin-top: 2%;

}

section, .part1, table, span, p, .h1{
    position: relative;
}

 #name, #area, #job{
    font-size: 1rem;
    border-radius: 3px;
    width: 15rem;
}
#btn  {
    
    background-color: #4CAF50; 
    border-radius: 10px;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    width: 100px;
}
#clean{
    background-color: #555555; 
    border-radius: 10px;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    width: 100px;
}


.part1, #form{
    margin-top: 2%;
    text-align: center;
}
input {
    text-align: center;
    padding: 10px;
}



table{
    width: 70%;
    border: 2px solid black;
    border-collapse: collapse ;
    align-content: center;
    margin: auto;
}
.col {
    width: 25%;
}
thead{
    background-color: #90AACB;
}

#data-employes{
    background-color: #D0E8F2; 
    text-align: center;
}



 td{
    background-color: #FAF3F3;
   border :1px solid black;
   padding: .5rem;
   text-align: center;
   font-size: 1rem;
    
}
.delete{
    background-color: #f44336; 
    border-radius: 4px;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin-top: 5px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;  
}

.delete:hover{
    background-color: #FA6E4F; 
    color: white;
}

.editar{
    background-color:  #008CBA ; 
    border-radius: 4px;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
}
.editar:hover{
    background-color: #90AACB; 
    color: white;
}



span {
    padding: 10px;
     display: block;
    text-align: center;
    font-size: 1em;
    color: black;
    font-weight: 700;
}

p{
    font-size: 1rem;
    
    text-align: center;
    color: red;
    padding: 10px;

}



@media screen and (max-width: 300px) {
    
    table {
        width:100%;
        
    }
    td, .col, #name, #area, #job{
        font-size: 8px;
    }
    
    
    
    
   
}